#caption {
  background-color: white !important;
  bottom: 0;
  color: black;
  display: block;
  overflow: hidden;
  padding: 2px 5px;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  white-space: nowrap;
  width: 100%;
}
